<div class="container">
  <p id="notice"><%= notice %></p>

  <h1>Admin Employees</h1>

  <table class="table">
    <thead>
      <tr>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @admin_employees.each do |admin_employee| %>
        <tr>
          <td><%= admin_employee.name %></td>
          <td><%= admin_employee.department_id %></td>
          <% if admin_employee.image.persisted? %>
              <td><%= image_tag(url_for(admin_employee.image.variant(resize: '100x100'))) %></td>
          <% end %>
          <td><%= link_to 'Show', admin_employee_url(admin_employee) %></td>
          <td><%= link_to 'Edit', edit_admin_employee_path(admin_employee) %></td>
          <td><%= link_to 'Destroy', admin_employee_url(admin_employee), data: { confirm: 'Are you sure?' , method: :delete} %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>

  <%= link_to 'New Admin Employee', new_admin_employee_path, class: "btn btn-primary" %>
</div>